<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>ECOCAR - Booking</title>
    {% include 'base/head.html' %}
  </head>
  <body class="fixed-header ">
    {% include 'base/toolbox.html' %}
    <!-- START PAGE-CONTAINER -->
    <div class="page-container ">
      <!-- START HEADER -->
      {% include 'base/header.html' %}
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">
        <!-- START JUMBOTRON -->
          <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
              <div class="inner">
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                  <li>
                    <p>Manage</p>
                  </li>
                  <li><a href="#" class="active">Booking</a>
                  </li>
                </ul>
                <!-- END BREADCRUMB -->
              </div>
            </div>
          </div>
          <!-- END JUMBOTRON -->
            <!-- START CONTAINER FLUID -->
          <div class="container-fluid container-fixed-lg bg-white">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
              <div class="panel-heading">
                <div class="panel-title"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#add">Add</button>
                </div>
                <div class="pull-right">
                  <div class="col-xs-12">
                    <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body" style="overflow-x:auto;">

                <table class="table table-hover demo-table-search" id="tableWithSearch">
                  <thead>
                    <tr>
                      <th>Booking</th>
                      <th>license</th>
                      <th>Car</th>
                      <th>Customer</th>
                      <th>Date_start</th>
                      <th>Date_end</th>
                      <th>Staff</th>
                      <th>Status</th>
                      <th>Last Update</th>
                      <th>Edit</th>
                      <th>Del</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="v-align-middle semi-bold">
                        <p>0001</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>กท1354</p>
                      </td>

                      <td class="v-align-middle semi-bold">
                        <p>Nissan March</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>Aom</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>2001-03-10 17:16:18</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>2001-03-20 9:16:18</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>AAA</p>
                      </td>
                      <td class="v-align-middle">
                        <p>Active</p>
                      </td>
                      <td class="v-align-middle">
                        <p>April 13,2014 10:13</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#edit">Edit</button>
                      </td>
                       <td class="v-align-middle semi-bold">
                        <button type="button" class="btn btn-primary btn-md">Del</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="v-align-middle semi-bold">
                        <p>0002</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>ยก2685</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>Toyota Vios</p>
                      </td>

                      <td class="v-align-middle semi-bold">
                        <p>Tom</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>2001-03-10 17:16:18</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>2001-03-13 17:16:18</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>AAA</p>
                      </td>
                      <td class="v-align-middle">
                        <p>Active</p>
                      </td>
                      <td class="v-align-middle">
                        <p>April 13,2014 10:13</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#edit">Edit</button>
                      </td>
                       <td class="v-align-middle semi-bold">
                        <button type="button" class="btn btn-primary btn-md">Del</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="v-align-middle semi-bold">
                        <p>0003</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>ยล1274</p>
                      </td>

                      <td class="v-align-middle semi-bold">
                        <p>Mitsubishi Mirage</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>AOM</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>2001-03-10 17:16:18</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>2001-03-10 17:16:18</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>Bill</p>
                      </td>

                      <td class="v-align-middle">
                        <p>Active</p>
                      </td>
                      <td class="v-align-middle">
                        <p>April 13,2014 10:13</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#edit">Edit</button>
                      </td>
                       <td class="v-align-middle semi-bold">
                        <button type="button" class="btn btn-primary btn-md">Del</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="v-align-middle semi-bold">
                        <p>0004</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>กท5994</p>
                      </td>

                      <td class="v-align-middle semi-bold">
                        <p>Toyota Fortuner 2WD</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>Sun</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>2001-03-10 17:16:18</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>2001-03-10 17:16:18</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <p>B</p>
                      </td>
                      <td class="v-align-middle">
                        <p>Active</p>
                      </td>
                      <td class="v-align-middle">
                        <p>April 13,2014 10:13</p>
                      </td>
                      <td class="v-align-middle semi-bold">
                        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#edit">Edit</button>
                      </td>
                       <td class="v-align-middle semi-bold">
                        <button type="button" class="btn btn-primary btn-md">Del</button>
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
            <!-- END PANEL -->
          </div>
          <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
       
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
         <!-- Modal -->
  <div class="modal fade" id="add" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
               <!-- START PANEL -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="panel-title">
                      Add
                    </div>
                  </div>
                  <div class="panel-body">
                    <h5>

            </h5>
                    <form class="" name="form-v2" action="?actionid=sdfiudifosfuisdofuosfuf&delete" role="form">
                    <div class="form-group form-group-default required ">
                        <label>License</label>
                        <input type="name" class="form-control" required>
                      </div>
                      <div class="form-group form-group-default required ">
                        <label>Car</label>
                        <input type="name" class="form-control" required>
                      </div>
                      <div class="form-group form-group-default required ">
                        <label>Customer</label>
                        <input type="name" class="form-control" required>
                      </div>
                     <div class="form-group form-group-default required ">
                        <label>Start</label>
                        <input type="date" class="form-control" required>
                      </div>
                     <div class="form-group form-group-default required ">
                        <label>End</label>
                        <input type="date" class="form-control" required>
                      </div>
                    <div class="form-group form-group-default required ">
                        <label>Staff</label>
                        <input type="number" class="form-control" required>
                      </div>
                    <div class="radio radio-success">
                      <input type="radio" value="yes" name="optionyes" id="yes">
                      <label for="yes">Active</label>
                      <input type="radio" checked="checked" value="no" name="optionyes" id="no">
                      <label for="no">Disabled</label>
                    </div>

                    </form>
                  </div>
                </div>
                <!-- END PANEL -->
        </div>
        <div class="modal-footer">
        <button class="btn btn-success" type="submit">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
   <!-- Modal -->
  <div class="modal fade" id="edit" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
               <!-- START PANEL -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="panel-title">
                      Edit
                    </div>
                  </div>
                  <div class="panel-body">
                    <h5>

            </h5>
                    <form class="" name="form-v2" action="?actionid=1&edit" role="form">
                    <div class="form-group form-group-default required ">
                        <label>License</label>
                        <input type="name" class="form-control" required>
                      </div>
                      <div class="form-group form-group-default required ">
                        <label>Car</label>
                        <input type="name" class="form-control" required>
                      </div>
                      <div class="form-group form-group-default required ">
                        <label>Customer</label>
                        <input type="name" class="form-control" required>
                      </div>
                     <div class="form-group form-group-default required ">
                        <label>Start</label>
                        <input type="date" class="form-control" required>
                      </div>
                     <div class="form-group form-group-default required ">
                        <label>End</label>
                        <input type="date" class="form-control" required>
                      </div>
                    <div class="form-group form-group-default required ">
                        <label>Staff</label>
                        <input type="number" class="form-control" required>
                      </div>
                    <div class="radio radio-success">
                      <input type="radio" value="yes" name="optionyes" id="yes">
                      <label for="yes">Active</label>
                      <input type="radio" checked="checked" value="no" name="optionyes" id="no">
                      <label for="no">Disabled</label>
                    </div>

                    </form>
                  </div>
                </div>
                <!-- END PANEL -->
        </div>
        <div class="modal-footer">
        <button class="btn btn-success" type="submit">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright &copy; 2017 </span>
              <span class="font-montserrat">Ecocar</span>.
              <span class="hint-text">All rights reserved. </span>
              <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
              <a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love ®</span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
    
    <!-- END OVERLAY -->
    {% include 'base/js.html' %}
  </body>
</html>
